.scene {
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

    font-size: 40px;
    text-transform: uppercase;
    background: #000;
}

.light {
    background: #fff;
    color: #000;
}

.transparent {
    background: none;
}

.scene h1 {
    width: 100%;
    font-weight: 800;
}

.scene * {
    z-index: 1;
}

.presenjson {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    user-select: none;
    background-color: black;
}

.presenjson .scene {
    display: none;
    z-index: 10;
}

.presenjson .is-on-screen {
    z-index: 1000;
}

.presenjson .is-not-on-screen {
    display: none;
}

.presenjson .is-on-screen > .scene,
.poster > .scene {
    z-index: 1000;
    display: flex;
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contain {
    background-size: contain;
}

.cover {
    background-size: cover;
}

.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.fullscreen > * {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.blur {
    filter: blur(3px);
    transform: scale(1.1);
    overflow: hidden;
}

.highContrast {
    filter: contrast(1.5);
}

@keyframes fadeout {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes approach {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes land {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    }
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.poster {
    position: absolute;
    width: 100%;
    height: 100%;
}

.playback-state {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    z-index: 2000;
    animation: fadeout 0.5s;
    animation-fill-mode: forwards;
    background: black;
    border: 3px solid #FFF;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

.playback-state:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    padding-top: 100%;
}

.playback-state:before {
    display: block;
    content: ' ';
    position: relative;
    border-left: 60px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 0px solid transparent;
    width: 0;
    height: 0;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 0px;
    transition: all 0.25s ease-in-out;
}

.initial .playback-state {
    animation: none;
}

.paused .playback-state {
    transition: none;
    animation: none;
}

.paused .playback-state:before {
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    width: 60px;
    height: 60px;
    margin: 12px;
    transition: none;
}

.buffering .playback-state:before {
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0;
    transition: all 0.25s linear;
    animation: rotate 0.7s infinite ease-in-out;
}

.layer {
    z-index: 10;
}

.background {
    display: none;
}

.foreground {
    z-index: 20;
}

.paused * {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
}

.container,
.fx-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* map component */
.map-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block;
    left: 0;
    top: 0;
}

.map-wrapper canvas {
    position: absolute;
    left: 0;
}
